<div class="dashboard">

    <div class="loader" ng-show="!balance||!plans">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div ng-show="balance && plans">
        <div class="row firstline" style="padding:0;margin:0;">
            <div class="block block-left dash_account_block">
                <h2 style="margin-top:0px;">账户信息</h2>
                <div class="row oneleft" style="padding:15px 8px;">
                    <div class="col-md-6">
                        <div class="userbg" style="margin:0 auto;"></div>

                        <div style="text-align: center;">{{projectname}}</div>
                    </div>
                    <div class="col-md-6">
                        <p>账户余额</p>
                        <p>
                            <span>{{balance.balance}}</span>元
                        </p>
                        <p>
                            <a href="javascript:;" id="recharge" ui-sref="console.pay" class="btn btn-green" style="padding:6px 12px;">充值</a>
                            <span style="color: #f6a540;margin-left: 20px;cursor: pointer" ui-sref="console.user({index:5})">消费记录</span>
                        </p>

                    </div>




                </div>
            </div>
            <div class="col-md-2" style="width:3%;"> </div>
            <div class="block block-right dash_info_block">
                <h2 style="margin-bottom: 20px;margin-top:0px;" >套餐信息</h2>
                <div class="row" style="margin:0;padding:0px;border: 1px solid #e5e5e5;">
                    <div class="col-md-4 bghover">
                        <p>极速铸造{{plans.planName}}</p>
                        <p>{{plans.price}}元/月</p>
                        <p><a href="javascript:;" class="btn btn-green" ui-sref="console.plan" style="padding:6px 12px;">更换套餐</a></p>
                    </div>
                    <div class="col-md-4 bghover">
                        <p><img src="pub/img/ds002.png" alt="" style="width: 36px;height: 36px;"></p>
                        <p>CPU</p>
                        <p>{{plans.cpu}}</p>
                    </div>
                    <div class="col-md-4 bghover">
                        <p><img src="pub/img/ds001.png" alt="" style="width: 40px;height: 40px;"></p>
                        <p>内存</p>
                        <p>{{plans.ram}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin:0;padding:0;margin-top:16px;">
            <div class="block block-left" style="width: 40%;">
                <h2>资源统计</h2>
                <div class="row">
                    <div class="col-md-6" >
                        <highchart ng-show="isdata.CpuorMem" config="pieConfigCpu"></highchart>
                    </div>
                    <div class="col-md-6" >
                        <highchart ng-show="isdata.CpuorMem" config="pieConfigMem"></highchart>
                    </div>

                </div>
            </div>
        </div>

        <div class="secondline col-md-12" ng-show="isdata.charts">
            <h2>资源监测</h2>
            <div style="width: 100%;">
                <highchart config="chartConfig"></highchart>
            </div>
        </div>
        <!-- 20161129 jia 统计数值暂时去掉-->
        <div class="thirdline col-md-12" style="margin-top:10px;display:none;">
            <h2>统计数值</h2>
            <div class="selection ban2">
                <div style="border-right: 1px solid #c9c9c9">
                    <a ui-sref="console.service">
                        <p class="num">{{podList}}</p>
                        <img src="pub/img/images_06.png"><br>
                        <a href="javascript:;">POD</a>
                    </a>
                </div>
            </div>
            <div class="selection ban2">
                <div style="border-right: 1px solid #c9c9c9">
                    <a ui-sref="console.service">
                        <p class="num">{{dcList}}</p>
                        <img src="pub/img/images_08.png"><br>
                        <a href="javascript:;">服务</a>
                    </a>
                </div>
            </div>
            <div class="selection ban2">
                <div style="border-right: 1px solid #c9c9c9">
                    <a ui-sref="console.backing_service">
                        <p class="num">{{bsiList}}</p>
                        <img src="pub/img/images_10.png"><br>
                        <a href="javascript:;">后端服务实例</a>
                    </a>
                </div>
            </div>
            <div class="selection ban2">
                <div>
                    <a href="javascript:;">
                        <p class="num">-</p>
                        <img src="pub/img/images_12.png"><br>
                        <a href="javascript:;">应用</a>
                    </a>
                </div>

            </div>
        </div>
    </div>


    <style>
        .userbg{
            width: 80px;height: 80px;
            background-image: url("pub/img/ds003.png");
            background-repeat: no-repeat;
            background-size: contain;

        }
        .oneleft{
            margin:0;padding:0;border: 1px solid #e5e5e5;background: #f7f7fb;
        }
        .oneleft p{
            height: 30px;
            line-height:30px;
        }
        .sanlan::before{
            display: none;
        }
        #highcharts-10 {
            width:1036px !important;
        }
        /*color:blue !important*/
        .selection {
            position: relative;
        }
        .selection img {
            margin-bottom: 10px;
        }
        .ban {
            float: left;
            width: 50%;

        }
        .ban2 {
            padding-top: 20px;
            float: left;
            width:25%;
            text-align: center;
        }

        .dashboard h2 {
            font-size: 16px;
        }
        .dashboard .info {
            text-align: center;
        }
        .firstline div{
            margin:0;
            padding:0;
        }
        .bghover{
            background: #e6e9f2;
            text-align: center;

        }
        .block-right .bghover{
            padding:15px 8px;
            background:#f7f8fb;
        }
        .bghover p{
            height: 30px;
            line-height: 30px;
        }
        .dashboard .firstline .block-left h2 {
            margin-bottom: 20px;
        }
        .dashboard .firstline .block-left .info > tbody > tr > td > p {
            margin-top: 10px;
        }
        .dashboard .firstline .block-left .info > thead > tr {
            background-color: #e6e9f2;
            border: none;
        }
        .dashboard .firstline .block-left .info > thead > tr > th {
            border: none;
        }
        .dashboard .firstline .block-left .info > tbody > tr > td{
            background: #f2f4f8;
            border: none;
        }
        .dashboard .firstline .block-left .info > tbody > tr > td:hover {
            background: #e2e5ee;
        }
        .dashboard .firstline .block-left .info > tbody > tr > td > p > span {
            color: #e5993a;
        }
        .dashboard .thirdline .selection {
            padding-bottom: 10px;
            border-bottom:7px solid #fff;
            -webkit-transition:border-bottom 0.3s linear;
        }
        .dashboard .thirdline .selection:hover {
            background-color: #f2f4f8;
            border-bottom: 7px solid #e5993a;
        }
        .dashboard .thirdline p {
            font-size:14px;
            text-align: center;
        }
        .dashboard .thirdline a {margin-bottom: 20px;
            color: #5a6378;
        }
        .dashboard .thirdline .num {
            font-size: 32px;
            font-weight: 500;
            /*font-size: 18px;*/
            color: #e5993a;
        }
        #recharge {
            color: white;
        }
        .table>tbody>tr>td{
            border:none;
        }

        .dash_account_block{width:30%;float:left;}
        .dash_info_block{width:36%;float:left;}
        .dash_resour_block{width:34%;}


        @media (min-width: 1920px) {
            .dash_account_block{width:20%;float:left;}
            .dash_info_block{width:32%;}
            .dash_resour_block{width:26%;}
        }
    </style>
</div>