<div class="loading-box" ng-show=loaded>
    <img class="spinner" src="pub/img/loading.gif">
</div>
<div>
    <form class="form-horizontal" name="frm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="font-size: 16px; color: #5a6378">新建密钥</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label text-left" style="margin-top: 10px; color: #5a6378; font-size:14px; text-align: left; font-weight: normal">密钥名称</label>
                    <div class="col-sm-10" style="padding-right: 40px; ">
                        <input  style="margin-top: 10px; width: 640px;" type="text" name="name" class="form-control"
                                ng-keyup="checknames()"
                                ng-model="secrets.metadata.name"
                                placeholder="创建一个密钥名称">
                        <small ng-if="!grid.secretnames" class="fa fa-info-circle err-tip" style="margin-top: 20px;">名称只能包括小写字母/数字/短线，短线不能在开头或结尾位置</small>
                        <small ng-if="grid.nameerr" class="fa fa-info-circle err-tip" style="margin-top: 20px;">名称已存在</small>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-top: 18px">
                    <label class="col-sm-2 control-label text-left" style="margin-top: 10px; color: #5a6378; font-size:14px; text-align: left; font-weight: normal">密钥项</label>
                    <div class="col-md-10" style="margin-top: 16px">
                        <a href="javascript:;" ng-click="addSecret()">
                            <i class="fa fa-plus-circle fa-green fa-lg"></i>
                            <span class="font12" style="color: #55c45f">添加密钥项&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <small ng-if="grid.keybuhefa" class="err-tip"><i class="fa fa-info-circle"></i>&nbsp;key值不合法</small>
                                <small ng-if="grid.keychongfu" class="err-tip"><i class="fa fa-info-circle"></i>&nbsp;key值重复</small>
                                <!--<small ng-if="grid.keynull" class="err-tip"><i class="fa fa-info-circle"></i>&nbsp;key值或value值为空</small>-->
                            </span>
                        </a>
                        <div class="secretitem row" style="margin-top: 20px; margin-bottom: 20px">
                            <!--<div style="margin-bottom: 20px" ng-repeat="items in secrets.secretsarr">-->
                                <!--<input class="form-control" type="text"  style="display: inline-block; width: 300px;" placeholder="KEY" ng-model="items.key">-->
                                <!--<textarea class="form-control" style="display: inline-block;height: 34px; width: 300px; margin-left: 40px; max-width: 300px;" placeholder="VALUE" ng-model="items.value"></textarea>-->
                                <!--<a class="fa fa-times-circle " ng-click="rmsecret($index)" style="text-decoration: none; color: #9fa7b7; margin-left: 10px;" href="javascript:;"></a>-->
                            <!--</div>-->
                            <div class="col-md-12" style="margin-bottom: 20px;padding: 0;"
                                 ng-repeat="item in secrets.secretsarr">
                                <input class="col-md-5 key" type="text" placeholder="KEY" ng-model="item.key" style="background:none;border:1px solid #c9c9c9">
                                <div class="col-md-1"></div>
                                <textarea class="col-md-5 key" style="padding-left:6px;padding-right:6px;" type="text" placeholder="VALUE" ng-model="item.value"></textarea>
                                <a class="fa fa-times-circle col-md-1" ng-click="rmsecret($index)"
                                   style="text-decoration: none;text-align: center;line-height: 34px; color: #9fa7b7;" href="javascript:;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:;" ng-if="grid.secreteno" class="btn btn-block create" style="background-color: #F8B551; margin-top: 35px; color: white;" ng-click="postsecret()">创建密钥</a>
        <a href="javascript:;" ng-if="!grid.secreteno" disabled="disabled" class="btn btn-block create" style="background-color: #ccc; margin-top: 35px; color: white;">创建密钥</a>

    </form>
</div>
<style>
    .key {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
    }
</style>
