<div class="index">
    <div class="bannertopbox"></div>
    <div class="banner">
        <!--<div id="particles-js"></div>-->
    </div>
    <div class="second">
        <div class="info col-sm-7">
            <h3>即买即用的大数据服务能力</h3>
            <p class="infocont">一站式大数据云服务，提供广泛的大数据服务组件，数十秒钟即可获得一个可扩展的弹性分布式大数据服务组件。支持多种数据应用场景，同时满足数据迁移及开放的需求。
            </p>
            <a class="btn btn-green"  ng-click="where('服务市场')" ui-sref="home.index_backing_service">进入大数据服务列表</a>
        </div>
        <div class="rightpic col-sm-5">
            <img class="imgwd" src="views/home/index/img/index_06.png">
        </div>
    </div>
    <div class="third">

        <div class="leftpic col-sm-5">
            <img class="imgwd" src="views/home/index/img/index_11.png">
        </div>
        <div class="info col-sm-7">
            <h3>快速简单的大数据应用托管能力</h3>
            <p class="infocont">一键完成应用代码到云端的部署，得到一个灵活、高度可扩展、低成本的应用。同时利用容器服务优势，提供从开发、构建、测试、部署、运行的完整应用生命周期服务，并支持负载均衡、弹性伸缩、日志监控、灰度升级等特性。
            </p>
            <a class="btn btn-green" ng-click="where('产品')" ui-sref="home.introduce">进入产品介绍</a>
        </div>
    </div>
    <div class="forth">
        <div class="info col-sm-7">
            <h3>合作共赢的应用生态</h3>
            <p>打造开放、合作、共赢的云端应用生态，共同拓展全面聚合优秀的应用，为用户提供丰富且一致的应用体验。
            </p>
            <a ui-sref="home.application" ng-click="where('应用市场')" class="btn btn-green">进入应用市场</a>
        </div>
        <div class="rpic col-sm-5">
            <img class="imgwd" src="views/home/index/img/index_14.png">
        </div>
    </div>

    <div class="parter_num">
    <div class="Partner row">
        <!--<div class='col-xs-12 one col-md-2'>合作伙伴</div>-->
        <p class="part_tit">合作伙伴</p>
        <div class="part_logo_one">
            <div class="Partner1" style="width: 15%"></div>
            <div class="Partner2" style="width: 14%"></div>
            <div class="Partner3" style="width: 13%"></div>
            <div class="Partner4" style="width: 13%"></div>
            <div class="Partner5" style="width: 16%"></div>

        </div>
        <div class="part_logo_two">
            <div class="Partner6" style="width: 16%"></div>
            <div class="Partner7" style="width:12%"></div>
            <div class="Partner8" style="width:12%"></div>
        </div>

    </div>
    </div>

    <style>



        #particles-js{ width: 100%; height: 100%; background-color: #002B5A; background-image: url(''); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; }


        .footer-lx p {
            margin-bottom: 15px;
            line-height: 30px;
        }

        .footer-td {
            border-right: 1px solid #3d4458;
            padding-left:0;
        }

        h3 {
            font-size: 22px;
        }

        .imgwd {
            width: 100%;
        }

        .infocont {
            font-size: 14px;
            line-height: 24px;
            color: #5a6378;
        }

        .index {
            overflow: hidden;
            padding-top: 70px;
        }

        .info {
            margin-top: 7%;
        }

        .index .banner {
            overflow: hidden;
            background-image: url("views/home/index/img/banner.png");
            background-repeat: no-repeat ;
            background-position: center;
            background-size:contain;
            background-color: #5B6177;
        }

        .bannertopbox{
            background-color: #5B6177;
            height: 30px;
        }
        .index .second {
            overflow: hidden;
        }

        .index .second, .index .third, .index .forth {
            width: 100%;
            padding: 40px 10%;
        }

        .index .third .info {
            padding-left: 10%;
        }

        .index .second .info h2 {
            color: #ff9423;
            font-size: 22px;
            margin-bottom: 20px;
        }

        .index .second .info p {
            font-size: 14px;
            color: #5a6378;
            margin-bottom: 12px;
        }

        .index .third {
            overflow: hidden;
            background-color: #f8f8f8;
        }

        .index .forth {
            overflow: hidden;
        }

        .parter_num{width:100%;padding: 40px 30px 0;background: #eeeff1;
            margin-left: 0;
            margin-right: 0;}
        .Partner {
            width: 1200px;
            margin:0 auto;
            overflow: hidden;

        }

        .one {
            white-space: nowrap;
            line-height: 60px;
            text-align: center;
            font-size: 16px;
            font-size: 16px;
            font-weight: bold;

        }



        .part_logo_one div {
           display:inline-block;
            height: 60px;

            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            -webkit-transition:all 300ms;transition:all 300ms;
            margin-left:30px;padding-right:0;
        }
        .part_logo_one div:first-child{margin-left:0;}

        .part_logo_two div {
            display:inline-block;
            height: 60px;

            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            -webkit-transition:all 300ms;transition:all 300ms;
            margin-left:80px;padding-right:0;
        }
        .part_logo_two div:first-child{margin-left:0;}


        .Partner1 {
            background-image: url("views/home/index/img/aws_logo.png");
        }
        .Partner1:hover {
            background-image: url("pub/img/aws_logo_hover.png");
        }

        .Partner2 {
            background-image: url("views/home/index/img/jd_logo.png");
        }
        .Partner2:hover {
            background-image: url("pub/img/jd_logo_hover.png");
        }


        .Partner3 {
            background-image: url("views/home/index/img/yh_logo.png");
        }
        .Partner3:hover {
            background-image: url("pub/img/yh_logo_hover.png");
        }

        .Partner4 {
            background-image: url("views/home/index/img/gbase_logo.png");
        }
        .Partner4:hover {
            background-image: url("pub/img/gbase_logo_hover.png");
        }

        .Partner5 {
            background-image: url("views/home/index/img/daocloud_logo.png");
            /*width: 17%;*/
        }
        .Partner5:hover {
            background-image: url("pub/img/daocloud_logo_hover.png");
        }

        .Partner6 {
            background-image: url("views/home/index/img/pivotal_logo.png");
            /*width: 17%;*/
        }
        .Partner6:hover {
            background-image: url("pub/img/pivotal_logo_hover.png");
        }
        .Partner7 {
            background-image: url("views/home/index/img/ky_logo.png");
            /*width: 17%;*/
        }
        .Partner7:hover {
            background-image: url("pub/img/ky_logo_hover.png");
        }
        .Partner8 {
            background-image: url("views/home/index/img/oscar_logo.png");
            /*width: 17%;*/
        }
        .Partner8:hover {
            background-image: url("pub/img/oscar_logo_hover.png");
        }
        .part_tit{font-size:18px;text-align:center;padding-bottom:20px;font-weight:bold;color:#5a6378;}
        /*20161013 jia add*/
        .index .second,.index .third,.index .forth{width:1200px;margin:0 auto;padding-top:40px;padding-bottom:40px;padding-left:0;padding-right:0;
        background:#fff;}
        .index .second .info{padding-left:0;}
        .index .second .rightpic{padding-right:0px;}
        .index .third .leftpic{padding-left:0;}
        .index .third .info{padding-right:0;}
        .index .forth .info{padding-left:0;}
        .index .forth .rpic{padding-right:0;}
        .part_logo_one{width:1200px;margin:0 auto;height:120px;text-align:center;}
        .part_logo_two{width:1200px;margin:0 auto;height:120px;text-align:center;}

    </style>
    <!--<script src="js/particles.min.js"></script>-->
    <!--<script src="js/canvas.js"></script>-->
</div>

