.backing-service-detail .info {
    height: 160px;
    overflow: hidden;
    margin-bottom: 30px;
}
.backing-service-detail .info .info-image {
    height: 100%;
    width: 160px;
    float: left;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    /*background: url(../../pub/img/bsi.png) no-repeat;*/
    /*background-size: 160px 160px;*/
    margin-right: 20px;
}
.backing-service-detail .info .info-desc {
    overflow: hidden;
    border-bottom: 1px solid #c9c9c9;
    height: 100%;
}
.backing-service-detail .info .info-desc h2 {
    font-size: 16px;
    color: #393f4f;
    margin: 10px 0;
}
.backing-service-detail .info .info-desc p {
    font-size: 12px;
    color: #5a6378;
    margin-bottom: 6px;
}