<div>
    <div class="loader" ng-show="!firtdetail">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="integ_detail" ng-show="firtdetail">
        <p class="integ_d_tit">数据列表</p>
        <div class="integ_main">
            <div class="integ_mid">
                <p class="integ_tit">名称简介</p>
                <div class="integ_r">
                    <p class="integ_name">{{createUser}}</p>
                    <p class="integ_content">{{description}}</p>
                </div>
            </div>
            <div class="integ_list">
                <p class="integ_tit">数据和资源</p>
                <div class="integ_list_detail">
                    <ul>
                        <li ng-repeat="item in firtdetail">
                            <div class="in_l">
                                <div class="pic_tu"><img src="views/Integration_detail/img/pic_tar.png"></div>
                                <div class="in_l_detail in_nowrap">
                                    <a ui-sref="console.Integration_dlist({name: integrationname, plan: item.item_name})" class="in_l_name " uib-tooltip="数据项名" tooltip-placement="top">{{item.item_name}}</a>
                                </div>
                            </div>
                            <div class="in_m" style=" width: 15%;height: 1%;">
                                <p></p>
                                <!--<p>更新时间：2分钟以前</p>-->
                            </div>
                            <div class="in_r">
                                <div class="in_r_main">
                                    <!--<span class="show_cion" uib-tooltip="预览" tooltip-placement="top"></span>-->
                                    <a href={{item.url}} target="_self" class="down_cion" uib-tooltip="下载" tooltip-placement="top"></a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>