<div class="builder">
       <div class="builder_main">
       <div class="df_block">
              <img src="views/home/builder/img/pic_df.gif" class="pic_df">
              <p class="builder_tit">程序猿正在日夜奋斗中
                     <span class="load_ing">
                            <i class="load_one"></i>
                            <i class="load_two"></i>
                            <i class="load_three"></i>
                     </span>
              </p>
              <a ui-sref="home.index" class="home_back">返回首页</a>
       </div>
       </div>


</div>
