
.zhuan {
    transform-origin:50% 50%;
    animation: rotateq 1s infinite linear;
}

@-webkit-keyframes rotateq {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/*����Ϊ��ʱ״̬*/
.blank_block{margin-bottom:0;}
.blank_tit{font-size:14px;color:#5a6378;margin-left:10px;vertical-align:middle;}
.serv_jia_btn{padding-left:15px!important;}