<div>
    <div class="modal-header">
        <h5 class="modal-title">
            {{title}}
            <a ng-click="cancel()" href="javascript:;" class="modal-close">
                <i class="fa fa-times-circle pull-right"></i>
            </a>
        </h5>
    </div>
    <div class="modal-body">
        <p class="modal-msg" style="text-align: left;font-size: 14px;color: #5a6378;">{{txt}} <small class="modal-tip" style="float: right;" ng-if="tip">
            <span class="icon12 icon12-tip" ng-if="tip"></span>{{tip}}
        </small></p>

        <input type="text" class="form-control" ng-model="orgName">
    </div>
    <div class="modal-footer">
        <button class="btn btn-gray cancel" ng-click="cancel()">取消</button>
        <button class="btn btn-orange" id="confirm" ng-click="ok()">确认</button>
    </div>
    <style>
        #confirm{
            color: white;
        }
    </style>

</div>
