<div class="modal-header">
    <h5 class="modal-title" style="text-align: left;">
        <i class="fa fa-info-circle"></i>
        {{title}}
        <a ng-click="cancel()" href="javascript:;" class="modal-close">
            <i class="fa fa-times-circle pull-right"></i>
        </a>
    </h5>
</div>
<div class="modal-body">
    <p class="modal-msg" ng-class="err">{{txt}}</p>
    <small class="modal-tip" ng-if="tip">
        <span class="icon12 icon12-tip"></span>{{tip}}
    </small>
</div>
<div class="modal-footer" ng-if="classify || active">
    <button class="btn btn-orange" ng-click="ok()">确认</button>
</div>

