 <div class="modal-header" >
        <h5 class="modal-title">
            添加卷
            <a ng-click="cancel()" class="close"><span aria-hidden="true">&times;</span></a>
        </h5>
 </div>
    <div class="modal-body" style="padding: 20px;">
        <div style="overflow-y: auto;max-height: 408px;">
            <div style="border: 1px solid #c9c9c9; width:660px;padding-bottom: 10px;">
                <div style="padding: 20px 20px 0px;text-align: left;">
                    <a href="javascript:;" style="font-size: 14px; color: #55c45f" class="href-add" ng-click="addsecretarr()">
                        <i class="fa fa-plus-circle fa-lg"></i>&nbsp;&nbsp;<span style="font-size: 12px">挂载密钥</span>
                    </a>

                    <a href="javascript:;" ng-click="govolume('console.create_secret')">
                        <span style="margin-left: 60px;color: #333;font-size:12px;">没有适合文件，马上创建</span>

                        <img src="views/service_create/img/images_43.png" style="margin-left: 10px">
                    </a>
                    <small class="fa fa-info-circle err-tip" ng-if="grid.secretarr.buhefa" style="text-align: left;margin-top: 20px;">路径错误</small>
                    <small class="fa fa-info-circle err-tip" ng-if="grid.secretarr.chongfu" style="text-align: left;margin-top: 20px;">路径重复</small>
                    <small class="fa fa-info-circle err-tip" ng-if="grid.secretarr.kong" style="text-align: left;margin-top: 20px;">请选择卷</small>
                </div>

                <div class="secret-bar" ng-repeat="item in secretarr" ng-init="outerIndex = $index">
                    <div class="dropdown dropdown-select" style="width: 260px; height: 35px;float:left;margin-left:20px;margin-top:10px;">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" style="">
                            <span>{{item.secret.secretName}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="width: 260px; height: 88px;margin-top: -1px;overflow-y: auto">
                            <li ng-repeat="arr in loadsecretsitems">
                                <a href="javascript:;" ng-click="changesecrename(outerIndex,arr.metadata.name)">{{arr.metadata.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <input ng-model="item.mountPath" style="width: 300px;display: inline-block; height: 35px;margin-top:10px;" type="text" placeholder="请填写容器内的挂载路径" class="form-control">
                    <a href="javascript:;" class="fa fa-lg fa-times-circle" style="color:#e6e9f2;" ng-click="delsecretarr($index)"></a>
                </div>
                <hr style="margin-top: 10px;">
                <!--repeat 2nd time-->
                <div style="padding: 0px 20px;text-align: left;">
                    <a href="javascript:;" style="font-size: 14px; color: #55c45f" class="href-add left" ng-click="addconfigmap()">
                        <i class="fa fa-plus-circle fa-lg" style="color: #55c45f"></i>&nbsp;&nbsp;<span style="font-size: 12px">挂载配置卷</span>
                    </a>

                    <a href="javascript:;" ng-click="govolume('console.create_config_volume')">
                        <span style="margin-left: 50px;color: #333;font-size:12px;">没有适合文件，马上创建</span>
                        <img src="views/service_create/img/images_43.png" style="margin-left: 10px">
                    </a>
                    <small class="fa fa-info-circle err-tip" ng-if="grid.configmap.buhefa" style="text-align: left;margin-top: 20px;">路径错误</small>
                    <small class="fa fa-info-circle err-tip" ng-if="grid.configmap.chongfu" style="text-align: left;margin-top: 20px;">路径重复</small>
                    <small class="fa fa-info-circle err-tip" ng-if="grid.configmap.kong" style="text-align: left;margin-top: 20px;">请选择卷</small>
                </div>

                <div class="secret-bar" ng-repeat="item in configmap" ng-init="outerIndex = $index">
                    <div class="dropdown dropdown-select" style="width: 260px; height: 35px;float:left;margin-left:20px;margin-top:10px">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" style="">
                            <span>{{item.configMap.name}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="width: 260px; height: 88px;margin-top: -1px;overflow-y: auto">
                            <li ng-repeat="arr in configmapitem">
                                <a href="javascript:;" ng-click="changeconfigname(outerIndex,arr.metadata.name)">{{arr.metadata.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <input ng-model="item.mountPath" style="width: 300px;display: inline-block;height: 35px;margin-top:10px;" type="text" placeholder="请填写容器内的挂载路径" class="form-control">
                    <a href="javascript:;" class="fa fa-lg fa-times-circle" style="color:#e6e9f2;" ng-click="delconfigmap($index)"></a>
                </div>
                <hr style="margin-top: 10px;">
                <!--repeat 3rd time-->
                <div style="padding: 0px 20px;text-align: left;">
                    <a href="javascript:;" style="font-size: 14px; color: #55c45f" class="href-add left" ng-click="addpersistent()">
                        <i class="fa fa-plus-circle fa-lg" style="color: #55c45f"></i>&nbsp;&nbsp;<span style="font-size: 12px">挂载持久化卷</span>
                    </a>
                    <a href="javascript:;" ng-click="govolume('console.create_constantly_volume')">
                        <span style="margin-left: 38px;color: #333;font-size:12px;">没有适合文件，马上创建</span>
                        <img src="views/service_create/img/images_43.png" style="margin-left: 10px">
                    </a>
                    <small class="fa fa-info-circle err-tip" ng-if="grid.persistentarr.buhefa" style="text-align: left;margin-top: 20px;">路径错误</small>
                    <small class="fa fa-info-circle err-tip" ng-if="grid.persistentarr.chongfu" style="text-align: left;margin-top: 20px;">路径重复</small>
                    <small class="fa fa-info-circle err-tip" ng-if="grid.persistentarr.kong" style="text-align: left;margin-top: 20px;">请选择卷</small>
                </div>

                <div class="secret-bar" ng-repeat="item in persistentarr" ng-init="outerIndex = $index">
                    <div class="dropdown dropdown-select" style="width: 260px; height: 35px;float:left;margin-left:20px;margin-top:15px;">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" style="">
                            <span>{{item.persistentVolumeClaim.claimName}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="width: 260px; height: 90px;margin-top: -1px;overflow-y: auto">
                            <li ng-repeat="arr in persistentitem">
                                <a href="javascript:;" ng-click="changepersistentname(outerIndex,arr.metadata.name)">{{arr.metadata.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <input ng-model="item.mountPath" style="width: 300px;display: inline-block; height: 35px;margin-top:15px;" type="text" placeholder="请填写容器内的挂载路径"  class="form-control">
                    <a href="javascript:;" class="fa fa-lg fa-times-circle" style="color:#e6e9f2;" ng-click="delpersistent($index)"></a>
                </div>
        </div>
        <div class="modal-footer" ng-if="!iscf"  style="margin-top:30px;">
            <button class="btn btn-gray" ng-click="cancel()">取消</button>
            <button class="btn btn-orange" ng-if="isok" ng-click="ok()">确认</button>
            <button class="btn" ng-if="!isok" disabled="disabled">确认</button>
        </div>
    </div>
        </div>
    <style>
        .modal-default {
            width: 700px;
            margin-left: -350px;
            margin-top:50px;
            top:0;
        }
    </style>