<div class="modal-header">
    <h5 class="modal-title">
        <!--<span class="icon20 icon20-{{tp}}"></span>-->
        {{title}}
        <a ng-if="!close" ng-click="cancel()" href="javascript:;" class="modal-close">
            <i style="font-size: 16px;" class="fa fa-times-circle pull-right"></i>
        </a>
    </h5>
</div>
<div class="modal-body">
    <p ng-if="!isorg&&!ispay" class="modal-msg">{{txt}}</p>
    <p ng-if="!isorg&&ispay" class="modal-msg">将为余额中充值 <span class="href-orange">{{txt}}</span> 元！</p>
    <p ng-if="isorg" class="modal-msg">将从余额中扣取 <span class="href-orange">{{isorg}}</span> 元！</p>
    <!--<small class="modal-tip" ng-if="tip">-->
        <!--<span class="icon12 icon12-tip"></span>{{tip}}-->
    <!--</small>-->
</div>
<div class="modal-footer" ng-if="!iscf" >
    <button class="btn btn-gray" ng-click="cancel()">取消</button>

    <button class="btn btn-orange" style="background-color: green;" ng-click="ok()">确认</button>
</div>
<div class="modal-footer" ng-if="iscf">
    <button ng-if="tip" class="btn btn-Iknow" style="background-color: green;" ng-click="ok()">{{tip}}</button>
    <button ng-if="!tip" class="btn btn-Iknow" style="background-color: green;" ng-click="ok()">确认</button>
</div>

