.pay{
    margin:0;
    padding:0;
    width: 80%;

    margin:0 auto;
}
.forpay{
    overflow: hidden;
    /*width: 100%;*/
}
.payway{
    width: 150px;
    padding: 5px 8px;
    height: 46px;
    border:1px solid #CCCCCC;
    float: left;
    cursor: pointer;
}
.paybg{
    width: 50px;
    height: 30px;
    background-image: url("../../pub/img/pay02.png");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.paybg1{
    width: 50px;
    height: 30px;
    background-image: url("../../pub/img/pay01.png");
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.payname{
    width: 80px;
    height: 30px;
    line-height: 30px;
    float: left;
}
.payactive{
    border-color: #f6a540;
    background: url(../../views/backing_service/img/images_48.png) no-repeat #fff;
}
.payactive .paybg{
    background-image: url("../../pub/img/pay02_hover.png");
}
.payactive .paybg1{
    background-image: url("../../pub/img/pay01_hover.png");
}
.payinput{
    width: 300px;
    height: 30px;
    /*line-height: 30px;*/
    margin-left:24px;
}
.paybt{
    width: 100%;height: 40px;
    margin-top: 30px;
}
.paybt a{
    width: 100%;
    color: #fff;
    /*float: left;*/
    /*color: #fff;*/
}
.pay_top{height:88px;border-bottom:1px solid #c9c9c9;margin-bottom:30px;}
.pay_top_one{margin-bottom:20px;}
.pay_one_l,.pay_two_l{font-size:14px;color:#5a6378;}
.pay_one_r{font-size:14px;color:#666;padding-left:30px;}
.pay_two_r{font-size:18px;color:#f6a540;padding-left:30px;}
.pay_two_money{font-size:12px;color:#666;font-style:normal;}
.charge_tit{display:block;float:left;height:46px;line-height:46px;margin-right:34px;}
.charge_notice{font-size:12px;color:#f00;padding-left:10px;cursor:pointer;}