<div class="idx-bs" id="idx-bs">
    <div class="loader" ng-show="!market">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div ng-show="market">
        <div class="tabs row" style='padding-left:0px;position: relative;'>
            <div  class='col-mb-1' style='margin-right: 20px;'>
                <label>服务分类</label>
            </div>

            <div class="sc col-mb-11" style='position: relative;top: -30px;left: 74px;width: 92%;'>
                <div class="btn-group ft col-mb-1" ng-repeat='item in cation' style='margin-bottom: 8px;margin-left:15px'>
                    <label class="btn" ng-class='{"active":grid.serviceCat == $index}'
                           ng-click='select("serviceCat", $index)'>{{item}}</label>
                </div>
            </div>
            <div class="sc col-mb-12 pull-left">
                <label>服务提供者</label>
                <div class="btn-group fw" ng-repeat='item in providers' style="margin-left:15px;">
                    <label class="btn" ng-class="{'active':grid.vendor == $index}"
                           ng-click="selectsc('vendor',$index)">{{item}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-group col-sm-4 col-sm-offset-8 searchbar">
                <input type="text"
                       class="form-control"
                       placeholder="搜索后端服务名称"
                       ng-keydown=keysearch($event)
                       ng-model="grid.txt">
                <!--ng-model="txt" ng-focus="showTip=true;" -->
                    <span class="input-group-btn" style="background:#fff;padding-top:6px;" id=inputa><!--搜索背景颜色处理 jia 20160922-->
                        <a class="btn" ng-click="search()"></a>
                    </span>
            </div>
        </div>
        <div class='change' ng-repeat='items in market'>
            <div class="row" ng-show="items.isshow" id=n{{items.id}}>
                <div id=t{{items.id}} class="h2-border" ng-show="items.showTab"
                     style="margin-bottom: 15px;">
                    <span class='biaoti'>{{items.name}}</span>
                    <i class='xian'></i>
                </div>
                <!--<h2 id=t{{items.id}} class="h2-border" ng-show="items.showTab"-->
                <!--style="margin-bottom: 15px;">-->
                <!--{{items.name}}</h2>-->
                <div class="row">
                    <div class="fen"
                         ng-repeat="item in items.item | myfilter:isComplete"
                         ng-show="item.show">
                        <bs-card></bs-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .idx-bs{
        padding:100px 20px 0px;
        overflow: hidden;
        color: #5a6378;
        width:1200px;margin:0 auto;
    }
    .idx-bs .sc .btn {
        background: #eaebef none repeat scroll 0 0;
        border: 1px solid #eaebef;
        border-radius: 2px;
        color: #333;
        font-size: 12px;
        text-align: center;
        width: 85px;
    }
    .idx-bs .sc .btn.active {
        background: #fff url("views/backing_service/img/images_48.png") no-repeat scroll 0 0;
        border-color: #f6a540;
        font-weight: bold;
    }
</style>