<div class="modal-header">
    <h5 class="modal-title">
        <i class="faa faa-pod"></i>
        {{pod}} - 日志详情
        <a ng-click="cancel()" href="javascript:;" class="modal-close">
            <i class="fa fa-times-circle pull-right"></i>
        </a>
    </h5>
</div>
<div class="modal-body" style="padding: 25px 40px;text-align: left;">

    <div style="margin-bottom: 15px;">
        <date-pick st="grid.st" et="grid.et"></date-pick>
        <a style="margin-left: 15px;" href="javascript:;" class="btn btn-orange" ng-click="search()">搜索</a>
    </div>

    <div class="well well-log" style="margin: 0;">
        <pre ng-bind-html=log></pre>
        <!--<pre>{{log}}</pre>-->
        <!--{{log}}-->
    </div>
</div>
