<div class="service-ctrl" style="padding-bottom: 200px;">

    <!--<h2>POD信息</h2>-->
    <!--<hr>-->

    <ul class="row rongqi" style="padding: 0;list-style: none; margin-bottom: 30px;border: 1px solid #e6e9f2;border-bottom: none;">
        <li class="col-md-12" style="background-color: #e6e9f2; height: 40px;padding-top: 10px;">

                <div class="col-md-2">名称</div>
                <div class="col-md-2">运行状态</div>
                <div class="col-md-2">运行时长</div>
                <div class="col-md-2">重启策略</div>
                <div class="col-md-2">重启次数</div>
                <div class="col-md-2">容器个数</div>


        </li>
        <li class="col-md-12 hhh" ng-repeat="pod in pods.items" style="border-bottom: 1px solid #e6e9f2;padding-top: 10px;padding-left: 0px;padding-right: 0px;padding-bottom:10px;">
                <div class="col-md-2">
                    <span ng-if="!pod.show" ng-click="pod.show=!pod.show" role="button" data-toggle="collapse" data-parent="#accordion" href={{"#"+pod.metadata.name}} aria-expanded="true" aria-controls="collapseOne" uib-tooltip="{{pod.metadata.name}}" style="display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
                        <span class="href-orange" href="">{{pod.metadata.name}}</span>
                    <span class="caret"></span>
                    <!--<span class="caret" style="border-top: none;border-bottom:4px dashed"></span>-->
                    </span>
                    <span ng-if="pod.show" ng-click="pod.show=!pod.show" role="button" data-toggle="collapse" data-parent="#accordion" href={{"#"+pod.metadata.name}} aria-expanded="true" aria-controls="collapseOne" uib-tooltip="{{pod.metadata.name}}" style="display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
                        <span class="href-orange" href="">{{pod.metadata.name}}</span>
                    <!--<span class="caret"></span>-->
                    <span class="caret" style="border-top: none;border-bottom:4px dashed"></span>
                    </span>
                </div>
                <div class="col-md-2"><span uib-tooltip="{{pod.reason}}" class="text-{{pod.reason}}">{{pod.reason}}</span></div>
                <div class="col-md-2">{{pod.status.startTime | duration2}}</div>
                <div class="col-md-2">{{pod.spec.restartPolicy}}</div>
                <div class="col-md-2">0</div>
                <div class="col-md-2">{{pod.spec.containers.length}}</div>
                <div id={{pod.metadata.name}} class="panel-collapse collapse col-md-12" style="padding: 0;padding-top: 0;padding-bottom: 10px;position: relative;" role="tabpanel" aria-labelledby="headingOne">
                   <div class="row" style="margin: 0;padding-left: 20px;padding-right: 20px;">
                       <div class="col-md-12 sss" style="" ng-repeat="container in pod.spec.containers">
                           <div class="col-md-4" style="text-align: left;padding-left: 6px;"><span class="glyphicon glyphicon-tasks" style="color:#f8b551;font-size:12px;" aria-hidden="true"></span>
                               <span style="font-size: 10px;margin-left: 10px;">{{container.name}}</span></div>
                           <div class="col-md-6"></div>
                           <div class="col-md-2" style="padding-right: 0;">
                               <a class="href-orange" style=" font-size: 12px;cursor: pointer;padding: 0 6px;" ng-click="containerModal(container.podname,$index)">查看容器</a></div>
                       </div>

                   </div>


            </div>
        </li>

    </ul>

<style>
    .hhh .sss:last-child {
        border-bottom:none;
    }
    .sss{

        height: 40px;line-height: 40px;
        padding-right: 0; padding-left: 0px;padding-bottom: 0px; border-bottom: 1px solid #e6e9f2;
    }
    .rongqi li {
        text-align: center;
    }
</style>
</div>
