
<div>
    <script src="views/home/introduce/js/particles.min.js"></script>
    <script src="views/home/introduce/js/canvas.js"></script>
    <script src="views/home/introduce/js/fullPage.js"></script>
    <div id="pageContain">
        <div class="page page1 current" style="position: relative;">
            <div id="particles-js" style="position: absolute;"></div>
            <div class="contain">
                <h3 style="font-size: 46px;margin-top:10%;text-align: center;">极速铸造云端应用&nbsp;&nbsp;释放大数据之美</h3>
                <!--<div style="text-align: center;margin-top:4%;">-->
                    <!--大数据时代，数据是原料，技术是工具，应用产生价值才是生存之本。<br/>铸数工坊立足于降低应用构建成本，对数据资源进行统一管控和治理，使得云时代的开发者能够全方位地洞察客户和市场，将应用价值最大化-->
                <!--</div>-->
                <div class="row" style="padding:0px;margin:0px;margin-top:17%;">
                    <div class="col-md-3">
                        <div class="imgover">
                            <div class="funbg" style="background-image: url('views/home/introduce/img/DF-16.png');"></div>
                            <p style="text-align: center;">一站式应用托管</p>
                        </div>
                        <div style="margin-top:30px;font-size:12px;" class="imgdown">Code to Cloud 的一站式应用部署,轻松实现应用构建、部署、监控、运维的全过程可视化，并保障应用的高可用</div>
                    </div>
                    <div class="col-md-3">
                        <div class="imgover">
                            <div class="funbg" style="background-image: url('views/home/introduce/img/DF-111.png');"></div>
                            <p style="text-align: center;">后端服务</p>
                        </div>
                        <div style="margin-top:30px;font-size:12px;" class="imgdown">预置数十种高可用后端服务，即买即用，与应用代码完美集成，使得开发者可以将更多精力投入到代码开发中</div>
                    </div>
                    <div class="col-md-3">
                        <div class="imgover">
                            <div class="funbg" style="background-image: url('views/home/introduce/img/DF-17.png');"></div>
                            <p style="text-align: center;">大数据能力</p>
                        </div>
                        <div style="margin-top:30px;font-size:12px;" class="imgdown">为数据分析师预置了多种大数据应用服务，只需要数十秒即可获得一个Tensorflow集群，开启深度学习奇幻之旅</div>
                    </div>
                    <div class="col-md-3">
                        <div class="imgover">
                            <div class="funbg" style="background-image: url('views/home/introduce/img/DF-15.png');"></div>
                            <p style="text-align: center;">持续集成</p>
                        </div>
                        <div style="margin-top:30px;font-size:12px;" class="imgdown">代码变更触发自动构建和测试，减少重复性劳动，提高开发者的工作效率</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page page2">
            <div class="contain" style="margin-left:14%;">
                    <div class="row" style="height: 40%;">
                        <div class="col-md-6" style="height: 100%;">
                            <div style="display:inline-block;vertical-align: middle ">
                                <span style="font-size: 30px;color: #f8b551;">一站式应用托管</span><br><br>
                                <span>构建、部署、监控、运维自动化和可视化</span>

                            </div>
                            <i style="height: 100%;display: inline-block;vertical-align: middle;"></i>
                        </div>

                        <div class="col-md-6" style="height:100%">
                            <div class="bigbg" style="background-image: url('views/home/introduce/img/DF-24.png');"></div>
                        </div>
                    </div>
                    <div class="row" style="height: 40%;margin-top:4%">
                        <div class="col-md-6" style="height:100%">
                            <ul class="testcon">
                                <li ng-repeat="item in yytg" style="background-image: url({{item.bigimg}});" ng-show="grid.yytg==$index"></li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                                <div class="row firstnomgtp" ng-repeat="item in yytg">
                                   <div ng-mouseover="tabchange('yytg',$index)">
                                       <div class="col-md-2">
                                           <div class="smallbg" style="background-image: url({{item.img}});"></div>
                                       </div>
                                       <div class="col-md-10" style="padding:0px;" ng-class="{true:'fontcolor'}[grid.yytg==$index]">
                                           <p style="font-size:18px;">{{item.fun}}</p>
                                           <p style="font-size: 12px;">{{item.funcon}}</p>
                                       </div>
                                   </div>
                                </div>
                        </div>

                    </div>
            </div>
        </div>

        <div class="page page3">
            <div class="contain" style="margin-left:14%;">
                <div class="row" style="height: 40%;">
                    <div class="col-md-6" style="height: 100%;">
                        <div style="display:inline-block;vertical-align: middle ">
                            <span style="font-size: 30px;color: #f8b551;">即买即用的后端服务</span><br><br>
                            <span>后端服务可以与应用代码完美集成，使得开发者可以将更多精力投入到代码中。</span>

                        </div>
                        <i style="height: 100%;display: inline-block;vertical-align: middle;"></i>
                    </div>
                    <div class="col-md-6" style="height:100%">
                        <div class="bigbg" style="background-image: url('views/home/introduce/img/DF-25.png');"></div>
                    </div>
                </div>
                <div class="row" style="height: 40%;margin-top:4%">
                    <div class="col-md-6" style="height:100%">
                        <ul class="testcon">
                            <li ng-repeat="item in hdfw" style="background-image: url({{item.bigimg}});" ng-show="grid.hdfw==$index"></li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <div class="row firstnomgtp" ng-repeat="item in hdfw">
                            <div ng-mouseover="tabchange('hdfw',$index)">
                                <div class="col-md-2">
                                    <div class="smallbg" style="background-image: url({{item.img}});" ></div>
                                </div>
                                <div class="col-md-10" style="padding:0px;" ng-class="{true:'fontcolor'}[grid.hdfw==$index]">
                                    <p style="font-size:18px;">{{item.fun}}</p>
                                    <p style="font-size: 12px;">{{item.funcon}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page page4">
            <div class="contain" style="position: relative;margin-left:8%;">
                <div class="row" style="height: 40%;">
                    <div class="col-md-6" style="height: 100%;">
                        <div style="display:inline-block;vertical-align: middle ">
                            <span style="font-size: 30px;color: #f8b551;">大数据能力</span><br><br>
                            <span>预置海量数据，集成大数据基础能力和大数据应用能力，</span><br/>
                            <span>轻松实现大数据生态</span>

                        </div>
                        <i style="height: 100%;display: inline-block;vertical-align: middle;"></i>
                    </div>
                    <div class="col-md-6" style="height:100%">
                        <div class="bigbg" style="background-image: url('views/home/introduce/img/DF-26.png');"></div>
                    </div>
                </div>
                <div class="row" style="height: 24%;width:100%;">
                    <div style="width: 100%;height: 100%;margin:0 auto;">
                        <ul class="accordion" style="height: 100%;">
                            <li class="active" style="border-left: 1px solid;box-sizing:border-box;">
                                <div style="width: 200px;height: 100%; float:left;">
                                    <div class="ability" style="background-image:url('views/home/introduce/img/DF-20.png');">

                                    </div>
                                    <div class="accordioncon">灵活多样的大数据基础能力</div>
                                </div>

                                <div class="abilitycon" style="height: 100%;">
                                    <span style="padding-top:20%;display:inline-block;padding-left:3%;font-size: 12px;">提供大数据基础能力资源池，包括Flume、Spark、Hbase、MapReduce、Hive等</span>
                                </div>

                            </li>
                            <li style="border-left: 1px solid;border-right: 1px solid #fff;box-sizing:border-box;">
                                <div style="width: 200px;height: 100%; float:left;">
                                    <div class="ability" style="background-image:url('views/home/introduce/img/DF-21.png');">

                                    </div>
                                    <div class="accordioncon">丰富的大数据应用能力</div>
                                </div>
                                <div class="abilitycon" style="height: 100%;"><span style="padding-top:20%;display:inline-block;padding-left:3%;font-size: 12px;">集成丰富的大数据应用，包括数据可视化、数据挖掘等，以及亚信在大数据领域沉淀多年的技术和产品能力</span></div>
                            </li>

                            <li style="border-right: 1px solid #fff;box-sizing:border-box;">
                                <div style="width: 200px;height: 100%; float:left;">
                                    <div class="ability" style="background-image:url('views/home/introduce/img/DF-19.png');">

                                    </div>
                                    <div class="accordioncon">海量行业数据</div>
                                </div>
                                <div class="abilitycon" style="height: 100%;"><span style="padding-top:15%;display:inline-block;padding-left:3%;font-size: 12px;">平台预置海量数据，涉及金融、交通、保险、影视、地产等多个行业</span></div>
                            </li>
                            <li style="border-right: 1px solid #fff;box-sizing:border-box;">
                                <div style="width: 200px;height: 100%; float:left;">
                                    <div class="ability" style="background-image:url('views/home/introduce/img/DF-40.png');">

                                    </div>
                                    <div class="accordioncon">轻松打造大数据生态</div>
                                </div>
                                <div class="abilitycon" style="height: 100%;"><span style="padding-top:15%;display:inline-block;padding-left:3%;font-size: 12px;">图形化拖拽轻松实现大数据生态，降低玩转大数据门槛</span></div>
                            </li>
                        </ul>
                    </div>



                </div>
                <div class="row" style="height:25%;position: absolute;left:0;bottom:5%;width: 100%;">
                    <h4 style="font-size: 18px;margin:30px 0px; text-align: center;">涉及行业</h4>
                    <div style="width: 100%;">
                        <div class="row" style="width: 14.2%;float: left;padding:0px;margin:0px;">
                            <div class="col-md-4">
                                <div class="aboutindustry" style="background-image:url('views/home/introduce/img/images_10.png');"></div>
                            </div>
                            <div class="col-md-8 gohub"><a target="_blank" href="https://hub.dataos.io/selects">终端数据</a></div>
                        </div>
                        <div class="row" style="width: 14.2%;float: left;padding:0px;margin:0px;">
                            <div class="col-md-4">
                                <div class="aboutindustry" style="background-image:url('views/home/introduce/img/images_16.png');"></div>
                            </div>
                            <div class="col-md-8 gohub"><a target="_blank" href="https://hub.dataos.io/selects">时空数据</a></div>
                        </div>
                        <div class="row" style="width: 14.2%;float: left;padding:0px;margin:0px;">
                            <div class="col-md-4">
                                <div class="aboutindustry" style="background-image:url('views/home/introduce/img/images_43.png');"></div>
                            </div>
                            <div class="col-md-8 gohub"><a target="_blank" href="https://hub.dataos.io/selects">气象环保</a></div>
                        </div>
                        <div class="row" style="width: 14.2%;float: left;padding:0px;margin:0px;">
                            <div class="col-md-4">
                                <div class="aboutindustry" style="background-image:url('views/home/introduce/img/images_39.png');"></div>
                            </div>
                            <div class="col-md-8 gohub"><a target="_blank" href="https://hub.dataos.io/selects">金融理财</a></div>
                        </div>
                        <div class="row" style="width: 14.2%;float: left;padding:0px;margin:0px;">
                            <div class="col-md-4">
                                <div class="aboutindustry" style="background-image:url('views/home/introduce/img/images_45.png');"></div>
                            </div>
                            <div class="col-md-8 gohub"><a target="_blank" href="https://hub.dataos.io/selects">互联网访问</a></div>
                        </div>
                        <div class="row" style="width: 14.2%;float: left;padding:0px;margin:0px;">
                            <div class="col-md-4">
                                <div class="aboutindustry" style="background-image:url('views/home/introduce/img/images_41.png');"></div>
                            </div>
                            <div class="col-md-8 gohub"><a target="_blank" href="https://hub.dataos.io/selects">交通运输</a></div>
                        </div>
                        <div class="row" style="width: 14.2%;float: left">
                            <div class="col-md-4">
                                <div class="aboutindustry" style="background-image:url('views/home/introduce/img/images_49.png');"></div>
                            </div>
                            <div class="col-md-8 gohub"><a target="_blank" href="https://hub.dataos.io/selects">医疗健康</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page page5">
            <div class="contain" style="margin-left:14%;">
                <div class="row" style="height: 40%;">
                    <div class="col-md-6" style="height: 100%;">
                        <div style="display:inline-block;vertical-align: middle ">
                            <span style="font-size: 30px;color: #f8b551;">持续集成自动化流水线</span><br><br>
                            <span>与多种代码库的自动对接，提供自动构建、测试和部署能力</span>

                        </div>
                        <i style="height: 100%;display: inline-block;vertical-align: middle;"></i>
                    </div>
                    <div class="col-md-6" style="height:100%">
                        <div class="bigbg" style="background-image: url('views/home/introduce/img/DF-22.png');"></div>
                    </div>
                </div>
                <div class="row testwrop" style="height: 40%;margin-top:4%">
                    <div class="col-md-6" style="height:100%">
                        <div style="height:80%;height: 100%">
                            <ul class="testcon">
                                <li ng-repeat="item in cxjc" style="background-image: url({{item.bigimg}});" ng-show="grid.cxjcidx==$index"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row firstnomgtp" ng-repeat="item in cxjc">
                            <div ng-mouseover="tabchange('cxjc',$index)">
                                <div class="col-md-2">
                                    <div class="smallbg" style="background-image: url({{item.img}});" ></div>
                                </div>
                                <div class="col-md-10" style="padding:0px;" ng-class="{true:'fontcolor'}[grid.cxjcidx==$index]">
                                    <p style="font-size:18px;">{{item.fun}}</p>
                                    <p style="font-size: 12px;">{{item.funcon}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="page page6">
                <div class="contain page6_contain" >
                    <div class="row page6_row">
                        <p class="page6_tit" >数十万用户正在使用铸数云服务</p>
                        <p class="page6_tbtn" >
                            <span class="tbtn" ng-click="experience()">立即体验</span>
                        </p>
                    </div>
                    <!-- 底部公共-->
                    <div class="foot_main">
                        <div class="foot">
                            <div class="foot_ps">
                                <div class="foot_list">
                                    <div class="fl_left">
                                        <ul>
                                            <li class="fl_tit">产品</li>
                                            <li class="fl_detail"><a ui-sref="home.index" class="trans_color">应用托管</a></li>
                                            <li class="fl_detail"><a ui-sref="home.index" class="trans_color">后端服务</a></li>
                                            <li class="fl_detail"><a ui-sref="home.index" class="trans_color">大数据能力</a></li>
                                            <li class="fl_detail"><a ui-sref="home.application" class="trans_color">Saas 服务</a></li>
                                            <li class="fl_detail"><a ui-sref="home.recharge" class="trans_color">定价服务</a></li>
                                        </ul>
                                        <ul>
                                            <li class="fl_tit">资源</li>
                                            <li class="fl_detail"><a href="/docs" target="_blank" class="trans_color">文档</a></li>
                                            <li class="fl_detail"><a href="/blog" target="_blank" class="trans_color">博客</a></li>
                                            <li class="fl_detail"><a ui-sref="home.builder" class="trans_color">视频</a></li>
                                        </ul>

                                        <ul>
                                            <li class="fl_tit">服务</li>
                                            <li class="fl_detail"><a ui-sref="home.builder" class="trans_color">专业培训</a></li>
                                            <li class="fl_detail"><a ui-sref="home.builder" class="trans_color">持续集成</a></li>
                                            <li class="fl_detail"><a ui-sref="home.builder" class="trans_color">微服务架构</a></li>
                                        </ul>
                                        <ul>
                                            <li class="fl_tit">关于我们</li>
                                            <li class="fl_detail"><a ui-sref="home.builder" class="trans_color">平台介绍</a></li>
                                            <li class="fl_detail"><a ui-sref="home.builder" class="trans_color">联系我们</a></li>
                                            <li class="fl_detail"><a ui-sref="home.builder" class="trans_color">加入我们</a></li>
                                            <li class="fl_detail"><a ui-sref="home.builder" class="trans_color">服务条款</a></li>
                                        </ul>
                                    </div>
                                    <div class="fl_right">
                                        <div class="fr_detail">
                                            <p class="fr_mail"><i></i><a href="mailto:datafoundry@asiainfo.com">datafoundry@asiainfo.com</a></p>
                                            <p class="fr_address"><i></i><span>北京市海淀区<br/>
                            中关村软件园二期西北旺东路10号院亚信大厦</span></p>
                                        </div>

                                        <div class="fr_er">
                                            <div class="er_ma">
                                                <img src="pub/img/pic_er.png" class="pic_er">
                                                <p class="er_detail">发现更多 关注我们</p>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="foot_copyright">
                            <p>&copy; 2016 版权所有 北京亚信智慧数据科技有限公司 京ICP备11005544号-15 京公网安备110108007119号</p></div>
                    </div>
                    <!-- 底部公共-->
                    <!--<div class="row footer" style="height: 35%;background:#5a6378;width:100%;padding-top:20px;">-->
                        <!--<div class="col-xs-3 col-lg-2 col-sm-3 footer-td" style='text-align: center;'>-->
                            <!--<p style="height: 50px;line-height: 32px;">团队介绍</p>-->
                            <!--<p style="height: 50px;line-height: 32px;">合作方式</p>-->
                            <!--&lt;!&ndash;<p>联系我们</p>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class="col-xs-9 col-lg-8 col-sm-9 col-lg-offset-2 footer-lx" style='text-align: left;'>-->
                            <!--<p style="line-height: 20px;margin-bottom:8px;">联系我们</p>-->
                            <!--<p style="line-height: 20px;margin-bottom:8px;">电话&nbsp;:&nbsp;010-82166688</p>-->
                            <!--<p style="line-height: 20px;margin-bottom:8px;">邮箱&nbsp;:&nbsp;<a style="color:#bdc0c7;text-decoration:underline!important;" href="mailto:datafoundry@asiainfo.com">datafoundry@asiainfo.com</a></p>-->
                            <!--<p style="line-height: 20px;margin-bottom:8px;">地址&nbsp;:&nbsp;北京市海淀区中关村软件园二期西北旺东路10号院亚信大厦</p>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12" style='text-align: center;'>© 2016版权所有 北京亚信智慧数据科技有限公司 京ICP备11005544号-15 京公网安备110108007119号</div>-->
                    <!--</div>-->
                </div>
        </div>
    </div>

    <ul id="navBar">
        <li><span class="add_num"></span><p class="num_detail">概述</p></li>
        <li><span class="add_num"></span><p class="num_detail">应用托管</p></li>
        <li><span class="add_num"></span><p class="num_detail">后端服务</p></li>
        <li><span class="add_num"></span><p class="num_detail">大数据能力</p></li>
        <li><span class="add_num"></span><p class="num_detail">持续集成</p></li>
        <li><span class="add_num"></span><p class="num_detail">立即体验</p></li>
    </ul>
    <script>
        var runPage;
        runPage = new FullPage({
            id: 'pageContain',
            slideTime: 800,
            effect: {
                transform: {
                    translate: 'Y'
                },
                opacity: [0, 1]
            },
            mode: 'wheel, touch, nav:navBar',
            easing: 'ease'
        });
    </script>
</div>
