<div id="header" class="navbar-fixed-top">
    <a id="header-brand" ng-click="backindex()">
        <img src="components/header/img/logo_sm_df.png" alt="logo" class="header_logo">
    </a>

    <div id="header-title" class="hidden-xs" style="margin-left: 1px">
        <span style="float: left;cursor: pointer; margin-right: 10px" ng-click="back()"
              class="icon25 icon25-back" ng-if="hasBack()">
        </span>
        <span style='float: left;'>{{console.state | stateTitleFilter}}</span>
    </div>
    <div id="header-menu">
        <!--消息图标-->
        <!--<a class="icon25 icon25-msg" ui-sref="console.notification" uib-tooltip="消息" tooltip-placement="bottom" ng-click="checkInbox()" style="margin-right:20px;">-->
            <!--<div ng-show="isshow">-->
                <!--<div class="header-dot"></div>-->
            <!--</div>-->
        <!--</a>-->
        <a href="javascript:void(0);" ui-sref="console.notification" class="df_news data_bg">
            <i class="df_h_com df_h_news"></i><span class="df_news_tit">消息</span>
        </a>



        <!--<div class="header_area data_bg">-->
            <!--<div class="dropdown"  id="dpdtop" style="">-->
                <!--<a class="dropdown-toggle header_toggle area_block" data-toggle="dropdown"  href="#" class="">-->
                    <!--<i class="df_h_com df_h_area"></i>-->
                    <!--{{curregion}}-->
                    <!--<b class="h_caret"></b>-->
                <!--</a>-->

                <!--<ul class="dropdown-menu dropdownbw">-->
                    <!--<li ng-repeat="region in regions" ng-click="checkregion(region.region_describe,region.identification)" ><i class="df_h_com df_area_active"></i>{{region.region_describe}}</li>-->
                    <!--&lt;!&ndash;<li ng-repeat="relist in regionlist" ng-click="checkregion(relist.regionname)">{{relist.regionname}}</li>&ndash;&gt;-->
                <!--</ul>-->
                <!--&lt;!&ndash;</span><span style="background: #fff;padding:10px 13px; color: #5a6378;">&ndash;&gt;-->
                <!--&lt;!&ndash;{{curregion}}&ndash;&gt;-->
                <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

        <div class="header_area data_bg">
            <div class="dropdown" uib-dropdown>
                <a class="dropdown-toggle header_toggle area_block" uib-dropdown-toggle  href="#" class="">
                    <i class="df_h_com df_h_area"></i>
                    {{curregion}}
                    <b class="h_caret"></b>
                </a>

                <ul class="dropdown-menu dropdownbw" uib-dropdown-menu
                    aria-labelledby="user-menu" style="border-top:0;">
                    <li ng-repeat="region in regions" ng-click="checkregion(region.region_describe,region.identification)" ><i class="df_h_com df_area_active"></i>{{region.region_describe}}</li>
                    <!--<li ng-repeat="relist in regionlist" ng-click="checkregion(relist.regionname)">{{relist.regionname}}</li>-->
                </ul>
                <!--</span><span style="background: #fff;padding:10px 13px; color: #5a6378;">-->
                <!--{{curregion}}-->
                <!--</span>-->
            </div>
        </div>


        <!--<a class="icon25 icon25-guide" href="javascript:;" uib-tooltip="指南" tooltip-placement="bottom"-->
        <!--</a>-->

        <div class="header_per data_bg">
            <div uib-dropdown on-toggle="toggled(open)">
            <a href="javascript:;" id="user-menu" class="per_block" uib-dropdown-toggle>
                <i class="df_h_com" ng-class="{'df_h_per':!orgimage,'df_o_per':orgimage}"></i>
                <!--<img src="components/header/img/user-icon-default1.png" alt="icon" class="hidden-xs" style="width: 37px;height: 37px;padding: 3px;background-color: #e6e9f2;margin-top: -4px;margin-left:20px;border-radius: 2px;"><span>{{user.metadata.name}} | {{checked||namespace}}&nbsp;&nbsp;</span>-->
                <span class="header_per_tit" title="{{projectname}}">{{projectname}}</span>
                <!--<i class="fa fa-chevron-circle-down" style="color: #e6e9f2;"></i>-->
                <b class="h_caret"></b>
            </a>
            <ul class="projectname" uib-dropdown-menu
                aria-labelledby="user-menu" style="max-height: 338px;border-top:0;border-right:0;overflow:auto;min-height:156px;top:53px;right:0px;background: #f7fafc;border-radius:0;">
                <!--personal account-->
                <li ng-if="projects" class='personal'>
                    <a href="javascript:;" ng-click='gotomy()' ui-sref='console.user'>
                        <!--<label>{{user.metadata.name}}</label>-->
                        <i class="df_h_com df_person_active"></i>
                        <span>个人账户</span>
                    </a>
                </li>

                <li>

                    <a href="javascript:;" ng-click="createOrg()"><i class="df_h_com df_q_active"></i>创建组织</a>
                </li>
                <!--<li ng-if="region === 'cn-north-2'" style="background-color:#dfe4ef; cursor: no-drop">-->

                    <!--<a style="cursor: default;color: azure " href="javascript:;"><i class="df_h_com df_q_active"></i>创建组织</a>-->
                <!--</li>-->

                <!--组织账户-->
                <!--<li class='personal' ng-repeat='org in userorgs'>-->
                    <!--<a href="javascript:;" ng-click='goto($index)'><label>{{org.name}}</label>-->
                        <!--<br/>-->
                        <!--<span>切换到组织账户</span>-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li ng-repeat="project in projects | orderBy: 'metadata.name'">-->
                <li ng-repeat="project in projects">
                    <a href="javascript:;"
                       ng-click="setNamespace(project.metadata.name)">
                        <i class="df_h_com df_qed_active"></i>
                        <span class="df_set_name" title="{{project.metadata.annotations['openshift.io/display-name'] || project.metadata.name}}">
                            {{project.metadata.annotations['openshift.io/display-name'] || project.metadata.name}}
                        </span>
                    </a>
                </li>

                <!--<li role="separator" class="divider"></li>-->
                <li style="border-bottom: none;">
                    <a href="javascript:;" ng-click="logout()"><i class="df_h_com df_quit"></i>退出登录</a>
                </li>
            </ul>
             <!--<ul ng-if="isorg" class="projectname" uib-dropdown-menu-->
                 <!--aria-labelledby="user-menu" style="max-height: 320px;overflow:auto;min-height:166px;top:52px;right:0px;background: #f7fafc;">-->
                 <!--&lt;!&ndash;personal account&ndash;&gt;-->
                 <!--<li ng-if="projects" class='personal'>-->
                     <!--<a href="javascript:;" ng-click='gotomy()' ui-sref='console.user'>-->
                         <!--&lt;!&ndash;<label>{{user.metadata.name}}</label>&ndash;&gt;-->
                         <!--<i class="df_h_com df_person_active"></i>-->
                         <!--<span>个人账户</span>-->
                     <!--</a>-->
                 <!--</li>-->

                 <!--&lt;!&ndash;组织账户&ndash;&gt;-->
                 <!--&lt;!&ndash;<li class='personal' ng-repeat='org in userorgs'>&ndash;&gt;-->
                     <!--&lt;!&ndash;<a href="javascript:;" ng-click='goto($index)' ui-sref='console.org({useorg:org.id})'><label>{{org.name}}</label>&ndash;&gt;-->
                         <!--&lt;!&ndash;<br/>&ndash;&gt;-->
                         <!--&lt;!&ndash;<span ng-if="org.id == neworgid">查看组织账户</span>&ndash;&gt;-->
                         <!--&lt;!&ndash;<span ng-if="org.id != neworgid">切换组织账户</span>&ndash;&gt;-->
                     <!--&lt;!&ndash;</a>&ndash;&gt;-->
                 <!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;切换project仅限go神使用,要问go神是谁?&ndash;&gt;-->
                 <!--<li ng-if="region==='cn-north-1'">-->
                     <!--<a href="javascript:;" ng-click="createOrg()"><i class="df_h_com df_q_active"></i>创建组织</a>-->
                 <!--</li>-->
                 <!--<li ng-if="region === 'cn-north-2'" style="background-color:#dfe4ef;">-->
                     <!--<a href="javascript:;"><i class="df_h_com df_q_active"></i>创建组织</a>-->
                 <!--</li>-->
                 <!--<li ng-repeat="project in projects">-->
                     <!--<a href="javascript:;" ng-click="setNamespace(project.metadata.name,project.metadata.annotations['openshift.io/display-name'])"><i class="df_h_com df_qed_active"></i><span title="{{project.metadata.annotations['openshift.io/display-name'] || project.metadata.name}}">{{project.metadata.annotations['openshift.io/display-name'] || project.metadata.name}}</span></a>-->
                 <!--</li>-->

                 <!---->
                 <!--&lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;-->
                 <!--<li style="border-bottom: none;">-->
                     <!--<a href="javascript:;" ng-click="logout()"><i class="df_h_com df_quit"></i>退出登录</a>-->
                 <!--</li>-->
             <!--</ul>-->
        </div>
    </div>
    </div>

</div>