
.search {
    padding: 0;
    width: 34px;
    margin-left: 15px;
    margin-top: -3px;
    height: 34px;
    background:url(../../pub/img/search.png)no-repeat center #f7f8fb;
    line-height: 36px;
    border: 1px solid #eaebef;
}
.search:hover{
    background:url(../../pub/img/search-focus.png)no-repeat center #f7f8fb;

}
#tabbtn .nav-link {
    padding: 0;
    /*margin: 10px 15px;*/
    border: none;
    border-bottom: 1px solid #eaebef;
}



#tabbtn .nav-tabs > li {
    width: 120px;
    margin-left: 30px;
}

#tabbtn .tab-default li.active .head {
    border: 1px solid #e5993a;
    background: url(../../views/backing_service/img/images_48.png) no-repeat #fff;
}

#tabbtn .head {
    width: 120px;
    height: 36px;
    background: #eaebef;
    display: inline-block;
    line-height: 36px;
}

#tabbtn .tab-default .nav-tabs {
    border: none;
}

#tabbtn .nav-tabs {
    border: none;
}

.meiy {
    text-align: center;
    /*height: 37px;*/
    width: 100%;
    margin-bottom: 12px;
}

.planb {
    /*padding: 0 15px;*/
    margin-left: 15px;
    margin-right: 15px;
}

.planb > span {
    display: inline-block;
}

.meiyue {
    width: 120px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    border: 1px solid #f6a540;
    font-size: 16px;
    border-radius: 2px;
    font-weight: bold;
    color: #f6a540;
}
.mianfei {
    width: 60px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    border: 1px solid #57d1ea;
    font-size: 16px;
    border-radius: 2px;
    font-weight: bold;
    color: #57d1ea;
}
.plan p {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.plan button {
    width: 180px;
    height: 36px;
    font-size: 16px;
    border-radius: 2px;
}

.plan button:hover {
    background: #e5993a;
}

.plan {
    height: 300px;
    border: 1px solid #e6e9f2;
    text-align: center;
}

.plan figcaption {
    background: #e6e9f2;
}

.plan figcaption, .plan .planb, .plan article {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #e6e9f2;
    color: #5a6378;
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.plan article {
    /*padding: 0 12px;*/
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.plan .planb {
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
}

#user .tab-content {
    padding: 30px;
    padding-bottom:40px;
}

.buy {
    font-size: 16px;
    font-weight: bold;
    color: #5a6378;
    padding-left: 30px;
    margin-bottom: 30px;
}


.nav-tabs > li {
    width: 180px;
    height: 50px;
    text-align: center;
}

.tab-default li .nav-link {
    height: 50px;
}
.subtitle {
    font-size: 12px;
}
article .peie {
    font-size: 12px;
    font-weight:bold;
}
/*.sourceList {*/
    /*border:1px solid #c9c9c9;*/
/*}*/
.source {
    margin-top: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    margin-bottom: 15px;
}
.source .source-bar {
    height: 60px;
    padding-left: 75px;
    background: url(/app/pub/img/bsi.png) no-repeat;
}
.source h3,
.source p {
    font-size: 12px;
    margin: 10px 0 0 0;
    color: #5a6378;
}
.source h3 {
    color: #393f4f;
}

.source-bar .faa,
.source-bar .fa2 {
    margin: 17px 5px;
}
.ban4 {
    width: 20%;
    float: left;
}
.banmore {
    width: 30%;
    float: left;
}
.ban5 {
    width: 30%;
    float: left;
}
.source-bar .ban4 span {
    font-size: 12px;
}
.source-bar .buttons a {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 2px;
}
.unbind :hover {
    background-color: #469450;
}
.unbind:active {
    background-color: #68d472;
}

.circle {
    width: 90px;
    height: 90px;
    background: url(/app/pub/img/images_85.png);
    border-radius: 45px;
    margin: 25px auto;
    /*margin-top: 25px;*/
}
.plan .notbuy {
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    color: #5a6378;
    margin-bottom: 30px;
}
.userselect {
    width: 120px;
    margin-right: 50px;
}
.blod {
    font-weight: bold;
}
.payway {
    margin-right:30px;
}
#tabbtn .tab-content {
    padding: 30px 0;
    margin: 0 30px;
    border: none;
    border-top: 1px solid #eaebef;
}
.container-fluid:hover {
    background-color: #f7f8fb;
}
.orgList{
    width: 18%;
    overflow: hidden;
    float: left;
    border:1px solid #c9c9c9;
    border-radius: 3px;
    margin-right:2%;
    margin-top:25px;
}
.caption {
    background: #fff none repeat scroll 0 0;
    padding: 15px 0;
    text-align: center;
}
.row{
    margin:0px;
}
.token {
    white-space: nowrap;
}
.nav-link i{
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.h2-border .xian {
    border-bottom: 1px solid #c9c9c9;
    display: inline-block;
    top: 50%;
    width: 100%;
    float: left;
}

/*20161010 jia 新加交易记录模块*/
.user_tp{}
.trans_all{-webkit-transition:  all 300ms;-ms-transition:  all 300ms;-o-transition:  all 300ms;-moz-transition:  all 300ms;transition:  all 300ms;}
.user_search{padding:4px 16px;background:#0E5186;display:inline-block;margin-left:10px;color:#fff;font-size:12px;cursor:pointer;}
.user_search:hover{ background:#0B9EFB;}
.user_list{padding-left:0px;padding-right:0;margin-top:10px;}