<div class="integration_datahub">

    <!--<div class="dh_left">-->
        <!--<img src="views/Integration/img/dh_logo.png"/>-->
    <!--</div>-->

    <div class="datahub_container">
        <img src="views/Integration/img/dh_logo.png" class="dh_new_logo"/>

        <p class="dh_detail_one">DataHub是数据链接平台,是数据链接的工具。</p>
        <p class="dh_detail_two">DataHub是一个中立的数据流通服务平台，旨在通过提供开源的数据流通协议，为各行各业的客户提供便利的数据流通通道，将DataHub打造为公正的第三方数据链接平台，面向全社会链接数据需求方、数据拥有方、独立数据分析方、其它数据平台，打造数据流通产业链。</p>
            <div class="datahub_itemDivBlock">
                <img src="views/Integration/img/pic_dh_one.png">
            </div>
        <div class="datahub_itemDivBlock">
            <img src="views/Integration/img/pic_dh_two.png">
        </div>
        <div class="datahub_itemDivBlock">
            <img src="views/Integration/img/pic_dh_three.png">
        </div>
        <a href="https://hub.dataos.io/" target="_blank" class="btn-green dh_more">了解更多</a>
    </div>
</div>
