.backing-service .tabs {

    margin-bottom: 40px;
}
.backing-service .sc {

}
.backing-service .sc label {
    margin-right: 15px;

    /*width: 72px;*/

}

.backing-service .sc .btn {
    font-size: 12px;
    background: #eaebef;

    /*width: 80px;*/

    text-align: center;
    border:1px solid #eaebef;
    border-radius: 2px;
    color: #333;
}
.inscard {
    margin: 0;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
.backing-service .sc .btn.active {
    border-color: #f6a540;
    font-weight: bold;
    background: url(../../views/backing_service/img/images_48.png) no-repeat #fff;
}
.h2-border::after {
    content: '';
    border-bottom:none;
}
.h2-border {
    height: 30px;
    line-height: 30px;
    position: relative;
}

.h2-border .xian {
    /*float: left;*/
    display: inline-block;
    border-bottom: 1px solid #c9c9c9;
    width: 100%;
    /*margin-bottom: 5px;*/
    position: absolute;
    top: 50%;
}
.h2-border .biaoti {
    float: left;
    display: inline-block;
    padding-right: 15px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
}
.fen {
    float: left;
    width:25%;
    padding: 0 15px;
}
.btn.active, .btn:active {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.backing-service .sc .btn {

    /*width: 85px;*/
}

.fw:last-child .btn {
    /*width: 85px;*/
}

.pull_width{width:auto!important;}


/*DataHub平台介绍*/
.integration_datahub{height:auto;overflow:hidden;width:755px;margin:0 auto;}
.dh_detail_one{font-size:14px;,color:#5a6378;line-height:26px;margin-bottom:10px;}
.dh_detail_two{font-size:14px;,color:#5a6378;line-height:26px;text-align:justify;}
.dh_more{width:98px;height:36px;line-height:36px;display:block;text-align:center;font-size:14px;color:#fff;margin-top:20px;
    -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin:0 auto;}
.dh_more:link,.dh_more:visited{background:#55c45f;color:#fff;}
.dh_more:hover{background:#469450;color:#fff;}
.dh_new_logo{width:230px;height:60px;margin-bottom:26px;}

/*数据为空时状态*/
.blank_block{margin-bottom:0;}
.blank_tit{font-size:14px;color:#5a6378;margin-left:10px;vertical-align:middle;}



