<div class="application" id="application1" >
    <div class="loader" ng-show="!saasobj">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div ng-show="saasobj">
        <div class="appdetailtop"><span class="backapp" ui-sref="home.application">应用中心</span><span>SAAS详情</span></div>
        <div class="appdetailcon">
            <!-------------------------------->
            <div class="panel panel-default" style="margin-bottom: 50px">
                <div class="row">
                    <div ng-if="!saasobj.iconUrl" class="col-sm-2" style="position: relative;border-right: 1px solid #c9c9c9;height: 125px;padding: 0;background-color: #F8F9FB;background-image:url(pub/img/box.png);background-position: center;background-repeat: no-repeat;">
                    </div>
                    <div ng-if="saasobj.iconUrl"class="col-sm-2" style="position: relative;border-right: 1px solid #c9c9c9;height: 125px;padding: 0;background-color: #F8F9FB;background-image:url({{saasobj.iconUrl}});background-position: center;background-repeat: no-repeat;-webkit-background-size: ;background-size: 70px 70px;">
                    </div>
                    <div class="col-sm-10" style="padding-left: 0;padding-right: 0;">
                        <div class="panel-heading">
                                <span class="panel-title">
                                   {{saasobj.name}}
                                </span>
                            <a class="btn pull-right btn-green"
                               style="margin-right: 20px;"
                               ng-if="true"
                               ng-disabled=false
                               ng-click="createsaas(saasobj.appId)"
                            >新建</a>
                        </div>
                        <div class="panel-body" style="padding-top:0px;padding-bottom:0px;">
                            <div class="row">
                                <div class="col-sm-1-5">
                                    <div class="media media-sm">
                                        <div class="media-body">
                                            <p style="margin-top:10px;">服务分类</p>
                                            <p style="margin-top:10px;">{{saasobj.category}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1-5">
                                    <div class="media media-sm">
                                        <div class="media-body">
                                            <p style="margin-top:10px;">提供者</p>
                                            <p style="margin-top:10px;">{{saasobj.provider}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------->
            <div style="padding:30px;background: #fff;border:1px solid #c9c9c9;">
                <!--<uib-tabset class="tab-default">-->
                <!--<uib-tab index="1">-->
                <!--<uib-tab-heading>-->
                <!--<i class="fa fa-file-text-o fa-lg"></i>&nbsp;&nbsp;服务信息-->
                <!--</uib-tab-heading>-->
                <!--<div class="timeline">-->
                <div class="plan">
                    <div class="panel panel-default panel-xxx" style="min-height: 110px;">
                        <div class="panel-heading">
                            <span class="panel-title">SaaS服务简介</span>
                        </div>
                        <div class="panel-body">
                            {{saasobj.description}}
                        </div>
                    </div>
                </div>
                <div class="plan" ng-if="false">
                    <div class="panel panel-default panel-xxx" style="min-height: 110px;">
                        <div class="panel-heading">
                            <span class="panel-title">收费标准</span>
                        </div>
                        <div class="panel-body">
                            <label>
                                <i class="faa faa-price">
                                </i>&nbsp;&nbsp;价格</label>
                            <p>
                                10000
                            </p>
                        </div>
                    </div>
                </div>
                <div class="plan" ng-if="false" >
                    <div class="panel panel-default panel-xxx" style="min-height: 110px;">
                        <div class="panel-heading">
                            <span class="panel-title">使用说明</span>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <!--</div>-->
                <!--</uib-tab>-->
                <!--</uib-tabset>-->
            </div>
            <!-------------------------------->
        </div>
    </div>

</div>
