ul { list-style: none;}
html { overflow: hidden;}
#pageContain { overflow: hidden;}
.page { display: none; width: 100%; height: 100%; overflow: hidden; position: absolute; top: 70px; left: 0;}
.contain { width: 90%; height: 100%; display: none; position: relative; z-index: 0;margin-left:5%}
.current .contain, .slide .contain { display: block;}
.current { display: block; z-index: 1;}
.slide { display: block; z-index: 2;}
.swipe { display: block; z-index: 3; transition-duration: 0ms !important; -webkit-transition-duration: 0ms !important;}
.page1 {color:#fff;}
.page2 { background: #ffffff;}
.page3 { background: #ffffff;}
.page4 { background: #5a6378; color: #fff;}
.page5 { background: #f6f7f8;}
/*.page6 { background: #22ffff;}*/
#navBar { z-index: 3; position: absolute; top: 30%; right: 3%;}
#navBar .active { background: #f6a540;}
#navBar:hover .active{background:#e5993a;}
.num_detail{opacity:0;position:absolute;left:-74px;top:-4px;padding:1px 0px;text-align:left;background:#f8b551;width:68px;text-align:center;
color:#333;font-size:12px;-webkit-transition:all 0.6s;transition:all 0.6s;-webkit-border-radius:4px;border-radius:4px; }
.num_detail:before{position:absolute;content:"";width: 0;height: 0; border-top: 6px solid transparent; border-left: 6px solid #f8b551;border-bottom: 6px solid transparent;right:-5px;margin-top:3px;}
#navBar .active .add_num{background:#f6a540;width:8px;height:8px;margin-left:0;}
#navBar .active .num_detail{top:-6px;}
.add_num{width:6px;height:6px;display:block;background:#bcbcbc;-webkit-border-radius:50%;border-radius:50%;margin-left:1px;}
#navBar li { cursor: pointer; margin-bottom: 20px; font-size: 12px; border-radius: 50%; text-align: center; width:auto;position:relative;}
#navBar li:hover .num_detail{left:-82px;opacity:1;}
#navBar li:hover .add_num{background:#f8b551;}
.page4 .col-md-4,.page4 .col-md-8{
    padding:0px;
}
.page4 .col-md-8{
    line-height:30px;
}
.ability{
    width: 200px;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    background-position:center;
}
.abilitycon{
    width: 215px;
    height: 100%;
    float: left;
}
.accordioncon{
    height: 20% ;text-align: center; float:left;width:200px;
    position: absolute;left:0px;bottom:0px;
}
.txt { margin-top: 20%; font-size: 50px; color: #fff; text-align: center;}
.accordion{
    width: 100%;
    height: 100%;
    margin:0px;
    padding-left:15px;
}
.accordion li{
    width: 200px;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.accordion li.active{
    width: 480px;
}
.bigbg{
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 80%;
    margin-top:30px;
}
.funbg{
    /*background-image: url("");*/
    background-size: contain;
    width: 80px;
    height: 80px;
    margin:0 auto;

}
.smallbg{
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}
.row{
    margin:0;
    padding:0;
}
.firstnomgtp{
    margin-top:6%;
}
.firstnomgtp:first-child{
    margin-top:0px;
}
.aboutindustry{
    width: 30px;
    height: 30px;
    background-color: #5b6178;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.gohub a{
    color:#fff;
}
.gohub a:hover{
    color:#f8b551;
}
.testcon,.testcon li{
    width: 100%;
    height: 100%;
}
.testcon{
    overflow: hidden;
    margin:0;padding:0;
}
.testcon li{
    background-size: contain;
    background-repeat: no-repeat;
}
.fontcolor{
    color: #f8b551;
}


@media (max-width: 640px) {
    #nav {
        display: none;
    }
    #mobilenav {
        display: block;
    }

    .footer {
        height: 380px;
    }

    #header #header-brand img{
        padding-top:30px;
        margin-left:21%;
        margin-right: 30px;
    }
    #header #btnk {
        margin-left: 76px;
    }

    #header #header-brand {
        padding-left: 0px;
        padding-right: 0px;
    }
    .footer-td {
        display: none;
    }
    .footer-lx {
        margin-left: 7%;
    }

}
.tbtn{
    width: 200px;height: 50px; text-align: center;display: inline-block;background:#55c45f;font-size: 18px;line-height: 50px;color: #fff;cursor: pointer;
}
.tbtn:hover{
    background: #469450;
}
.footer-lx p {
    line-height: 20px;
}

.footer-td {
    border-right: 1px solid #3d4458;
}
.imgdown{
    display: none;
}


#particles-js{ width: 100%; height: 100%; background-color: #202538; background-image: url(''); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; }

/*20161017 jia add ҳ��*/
.foot_main{width:100%;height:60%;}
.foot{background:#5a6378;padding-bottom:40px;height:80%;}
.foot_ps{width:1120px;margin:0 auto;}
ul,li,ol{list-style:none;margin:0;padding:0;}
.foot_list{padding-top:40px;height:auto;overflow:hidden; }
.fl_left{width:534px;border-right:1px solid #89909f;height:auto;overflow:hidden;float:left;}
.fl_left ul{float:left;text-align:left;width:145px;}
.fl_left ul:nth-child(2){width:110px;}
.fl_left ul:last-child{width:130px;}
.fl_left ul .fl_tit{font-size:16px;color:rgba(255,255,255,0.6);}
.fl_left ul .fl_detail a{font-size:14px;color:#fff;}
.fl_left ul .fl_detail a:hover{color:#f6a540;}
.fl_left ul li{margin-bottom:16px;}
.fl_left ul li:last-child{margin-bottom:0;}
.fl_right{float:left;margin-left:42px;width:544px;}
.fr_mail a{font-size:14px;color:rgba(255,255,255,0.6);text-decoration:underline!important;}
.fr_address{color:rgba(255,255,255,0.6);font-size:14px;}
.fr_address span{display:block;float:left;line-height:20px;font-size:14px;}
.fr_detail{float:left;}
.fr_detail p{margin-bottom:20px;}
.fr_detail i{background:url("pub/img/pic_info.png") no-repeat;display:block;width:18px;height:18px;float:left;margin-right:12px;}
.fr_address i{background-position:0%;}
.fr_mail i{background-position:100%;}
.fr_er{float:right;margin-left:40px;}
.pic_er{width:124px;height:122px;display:block;margin-bottom:10px;}
.er_detail{font-size:12px;color:#fff;text-align:center;}
.foot_copyright{background:#3d4458;height:20%;line-height:68px;}
.foot_copyright p{width:1120px;margin:0 auto;text-align:left;color:rgba(255,255,255,0.7);font-size:14px;}
.trans_color{-webkit-transition:  color 300ms;-ms-transition:  color 300ms;-o-transition:  color 300ms;-moz-transition:  color 300ms;transition:  color 300ms;}
/*20161017 jia add ҳ��*/

.page6_contain{width: 100%;margin:0;background-color: white}
.page6_row{height: 33%; text-align: center}
.page6_tit{font-size:46px;margin-top:3%}
.page6_tbtn{margin-top:3%}

@media (min-width: 1920px) {
    .page6_row{height: 38%; text-align: center}
    .page6_tit{font-size:46px;margin-top:5%}
    #navBar{top:28%;}

}