.my-checkbox {
    display: inline-block;
}
.my-checkbox .checkbox-check {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    border-radius: 14px;
    background: #dde0e9;
    cursor: pointer;
    vertical-align: middle;
}
.my-checkbox .checkbox-text {
    vertical-align: middle;
    font-size: 12px;
    margin-left: 5px;
}
.my-checkbox .checkbox-check.active {
    background: #f6a540;
}
.my-checkbox .checkbox-check .check-btn {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 1px 1px 2px #666;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: left 0.2s;
}
.my-checkbox .checkbox-check.active .check-btn {
    left: 26px;
}