.listname {
    font-size: 14px;
}

.subpanelname {
    font-weight: bold;
}

.apply_data_main{width:80%;}
.apply_data_list{margin-bottom: 15px;width:24%;margin-left:40px;}
.panel_border.active{border:2px solid #f6a540!important;}

@media (min-width: 1920px) {
    .apply_data_list{width:22%;margin-left:40px;}
}