<div class="apply-instance">
    <form class="form-horizontal" name="frm" style="margin-right: 90px; margin-left: 90px;">
        <div class="panel panel-default">
            <div class="panel-heading">

                <span>创建{{plan}}服务的实例</span>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2 text-left">
                        <p class="require listname">服务名称</p>
                    </div>
                    <div class="col-sm-10">

                        <input ng-model="name" type="text" name="servicename" class="form-control input-block" placeholder="创建一个项目名称">
                        <small ng-show="grid.valid" class="fa fa-info-circle err-tip" style="margin-top: 10px">实例名称不合法</small>
                        <small ng-show="grid.repeat" class="fa fa-info-circle err-tip" style="margin-top: 10px">实例名称重复</small>
                        <small ng-show="grid.blank" class="fa fa-info-circle err-tip" style="margin-top: 10px">请填写一个实例名称</small>
                        <small ng-show="grid.timeout" class="fa fa-info-circle err-tip" style="margin-top: 10px">连接超时,请重试</small>
                    </div>
                </div>
                <!--<hr>-->


            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <a class="btn btn-block btn-orange" ng-click="createInstance()">创建</a>

            </div>
        </div>
    </form>
</div>