<div class="thumbnail">
    <div class="thumb-content">
        <div class="thumb-slide">
            <div class="thumb-op">
                <p><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{item.status.tags[0].items[0].created | dateRelative}}</p>
                <p><i class="fa fa-flag-o"></i>&nbsp;&nbsp;<!--{{gitStore[item.spec.output.to.name]["ref"]}} - -->
                    {{item.status.tags[0].tag}}
                    <!--{{item.status.tags[0].port}}-->

                </p>
                <p class="thumb-btn">
                    <a class="btn btn-green"
                       ng-if='item.status.tags[0].tag&&item.status.tags[0].items[0].created'
                       href="javascript:;"
                       ui-sref="console.service_create({image:item.status.tags[0].items[0].dockerImageReference+'@'+item.status.tags[0].tag+'@'+item.metadata.name,ports:item.status.tags[0].port})">部署最新版本</a>
                    <a class="btn btn-gray"
                       ng-if='!item.status.tags[0].tag || !item.status.tags[0].items[0].created'
                       href="javascript:;"
                       disabled='ture'>暂无最新版本</a>

                </p>
            </div>
            <img src="components/card/img/image.png" alt="image">
        </div>
    </div>
    <div class="caption">
        <a class="href-orange" style='white-space:nowrap;overflow: hidden;text-overflow: ellipsis' ui-sref="console.image_detail({name:item.metadata.name,bc:item.metadata.name})">{{item.metadata.name}}</a>
    </div>
    <!--<div>-->
        <!--<p></p>-->
        <!--<span id="updateTime"></span>-->
        <!--<p id="releaseVersion"></p>-->
        <!--<span><button id="deployLastest">部署最新版本</button></span>-->
    <!--</div>-->
</div>

