<div id=hui class="thumbnail">
    <div class="thumb-content">
        <!--<p class='hui'><img src="components/bscard/img/images01_08.png">{{item.spec.metadata.providerDisplayName}}</p>-->
        <!--<p><img src="components/bscard/img/images01_06.png">&nbsp;version</p>-->
        <div class="thumb-slide">
            <div class="thumb-op">
                <small>{{item.spec.description}}</small>
                <p class="thumb-btn">
                    <a ng-if="!bkservice" class="btn btn-skyblue" href="javascript:;" ui-sref="console.backing_service_detail({name: item.metadata.name,type:item.metadata.annotations.Class})">
                        查看详情</a>
                    <a ng-if="bkservice" class="btn btn-skyblue" href="javascript:;" ui-sref="home.index_backing_Sdetail({name: item.metadata.name})">
                        查看详情</a>
                </p>
            </div>
            <div ng-if="item.spec.metadata.imageUrl" class="imageholder" style="background-image:url('{{item.spec.metadata.imageUrl}}');">
                <p class='hui'><img src="components/bscard/img/images01_08.png">{{item.spec.metadata.providerDisplayName}}</p>
            </div>
            <div ng-if="!item.spec.metadata.imageUrl" class="imageholder" style="background-image:url('components/bscard/img/images01_03.png');background-color: #EAEBEF;"></div>
        </div>
    </div>
    <div class="caption">
        <p class="bsname">{{item.metadata.name}}</p>
        <a class="btn btn-disabled" ng-if='item.status.phase !== "Active" && !bkservice' style='cursor:default;'>申请实例</a>
        <a class="btn btn-orange" ng-if='item.status.phase === "Active" && !bkservice' ui-sref="console.apply_instance({name: item.metadata.name})">申请实例</a>
        <a class="btn btn-disabled" ng-if='item.status.phase !== "Active" && bkservice' style='cursor:default;'>申请实例</a>
        <a class="btn btn-orange" ng-if='item.status.phase === "Active" && bkservice' ng-click="apply_instance(item.metadata.name)">申请实例</a>
    </div>
</div>
