#sidebar {
    background: #e6e9f2;
}
#sidebar ul > li {
    margin: 0;
}
#sidebar ul > li > a {
    color: #5a6378;
    border-radius: 0;
    padding: 23px 30px;
}
#sidebar ul > li.active > a {
    background: #dde0e9;
}

#sidebar ul > li > a > i {
    display: none;
}
#sidebar ul > li.active > a > i {
    position: absolute;
    right: 0;
    top: 45%;
    display: inline-block;
    color: white;
}
.icon25-dashboard {
    background-image: url(img/dashboard.png);
}
#sidebar ul > li > a:hover .icon25-dashboard {
    background-image: url(img/dashboard-active.png);
}

.icon25-build {
    background-image: url(img/build.png);
}
#sidebar ul > li > a:hover .icon25-build {
    background-image: url(img/build-active.png);
}

.icon25-repository {
    background-image: url(img/repository.png);
}
#sidebar ul > li > a:hover .icon25-repository {
    background-image: url(img/repository-active.png);
}

.icon25-deployment {
    background-image: url(img/deployment.png);
}
#sidebar ul > li > a:hover .icon25-deployment {
    background-image: url(img/deployment-active.png);
}

.icon25-service {
    background-image: url(img/service.png);
}
#sidebar ul > li > a:hover .icon25-service {
    background-image: url(img/service-active.png);
}
.icon25-Integration {
    background-image: url(img/Integration.png);
}
#sidebar ul > li > a:hover .icon25-Integration {
    background-image: url(img/Integration_active.png);
}

.icon25-Integration {
    background-image: url(img/Integration.png);
}
#sidebar ul > li > a:hover .icon25-Integration {
    background-image: url(img/Integration_active.png);
}

.icon25-make {
    background-image: url(img/make.png);
}
#sidebar ul > li > a:hover .icon25-make {
    background-image: url(img/make-active.png);
}

.icon25-resource {
    background-image: url(img/resource.png);
}
#sidebar ul > li > a:hover .icon25-resource {
    background-image: url(img/resource-active.png);
}
.icon25 {
    color: #5a6378;
}